@import "nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "./fonts_awesome/regular";
@import "./fonts_awesome/fontawesome";
@import "./fonts_awesome/solid";

%block {
   border: 1px solid rgb(223, 223, 223);
   border-radius: 3px;
   -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.24);
   -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.24);
   box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.24);
}

body {
   font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
   max-width: 100%;
}
.container {
   max-width: 1130px;
   margin: 0 auto;
   padding: 50px 10px;
}

.btn {
   width: 100px;
   height: 40px;
   border: 1px solid #00a2ff;
   border-radius: 20px;
   background-color: #fff;
   font-size: 16px;
   color: #00a2ff;
   transition: background-color 0.3s ease;
   &:hover {
      background-color: #00a2ff;
      color: #fff;
   }
}

.content {
   width: 100%;
   height: 100vh;
   &__title {
      font-size: 40px;
      margin-bottom: 50px;
      color: #7e7e7e;
   }

   &__body {
   }

   &__image {
      height: 100%;
      width: 50%;
      margin-left: 500px;
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
}

.question {
   position: relative;
   width: 100%;
   height: 30%;

   &__main {
      @extend %block;
      position: absolute;
      padding: 60px 0 40px 100px;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      visibility: hidden;
   }
   &__text {
      position: relative;
      font-size: 26px;
      line-height: 35px;
      font-weight: normal;
      margin: 0 0 45px 0;
      & span {
         text-transform: uppercase;
         color: #00a2ff;
         font-weight: 600;
      }
      &::before {
         content: attr(data-num);
         position: absolute;
         top: 0px;
         left: -50px;
         font-family: "Ubuntu", sans-serif;
         font-size: 50px;
         font-weight: 900;
         color: #00a2ff;
      }
   }
   &__button {
   }
   &__yes {
      @extend %block;
      position: absolute;
      padding: 60px 0 40px 100px;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      visibility: hidden;
   }
   &__no {
      @extend %block;
      position: absolute;
      padding: 60px 0 40px 100px;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      visibility: hidden;
   }
   &__block {
   }
   &__result-block {
   }
   &__result {
      @extend %fa-icon;
      @extend .fas;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0 0 40px 0;
      p::before {
         font-family: "Font Awesome 5 Free";
         content: fa-content($fa-var-check);
         font-size: 35px;
         color: #00a2ff;
         top: 0px;
      }
   }
}

.button {
   &__yes {
      margin-right: 50px;
   }

   &__no {
   }

   &__previous {
      display: block;
      margin: 50px 0 0 15px;
      font-size: 16px;
      color: rgba(112, 178, 216, 0.788);
      background-color: transparent;
      margin-bottom: 50px;
      &:hover {
         color: #00a2ff;
      }
   }

   &__start {
      display: block;
      margin: 0 0 0 15px;
      font-size: 16px;
      color: rgba(112, 178, 216, 0.788);
      background-color: transparent;
      &:hover {
         color: #00a2ff;
      }
   }
}

// ==================================================================================================
// ===============================================================================================================
.show {
   visibility: visible;
   transition: opacity 0.3s ease;
   z-index: 10;
}
